---
repositories:
  - name: mojo2600
    url: https://mojo2600.github.io/pihole-kubernetes/
  - name: kubernetes-sigs
    url: https://kubernetes-sigs.github.io/external-dns/
---
releases:
  # internal DNS + no more ads
  - name: pihole
    namespace: pihole-system
    chart: mojo2600/pihole
    version: ~2.27
    values:
      - ./values/pihole.yml
    hooks:
      - events: ["post-sync"]
        command: kubectl
        args: [ "apply", "-f", "coredns-ns.yml" ]

  # Auto-sync ingresses with local DNS provider
  - name: externaldns-pihole
    namespace: pihole-system
    chart: kubernetes-sigs/external-dns
    version: ~1.19
    values:
      - ./values/dns.yml

