---
repositories:
  - name: cnpg
    url: https://cloudnative-pg.github.io/charts
---
releases:
  # Install operator
  - name: cnpg
    namespace: cnpg-system
    chart: cnpg/cloudnative-pg

  - name: postgres-cluster
    namespace: postgres
    chart: cnpg/cluster
    values:
      - ./values.yml
