---
repositories:
  - name: metallb
    url: https://metallb.github.io/metallb
---
releases:
  # needed for LoadBalancer svcs on bare-metal k8s
  - name: metallb
    chart: metallb/metallb
    namespace: metallb-system
    version: 0.14.9
    hooks:
      - events: ["post-sync"]
        command: kubectl
        args: ["apply", "-f", "pool.yml"]
